<%- include('../template/head')-%>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <%- include('../template/nav')-%>
  <main role="main" class="inner cover">
    <h1 class="mt-lg-5 cover-heading">Lista de Usuários</h1>
    <hr>
    <table class="table table-responsive-sm w-50 text-center">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <%list.forEach(function(entry) {%>
      <tr>
        <td><%=entry.id%></td>
        <td><%=entry.username%></td>
        <td class="text-left"><%= entry.id %><a href="/api/users/delete/<%= entry.id %>"><button class="btn-sm btn-danger">Deletar</button></a>
        </td>
      </tr>
      <%});%>
      </tbody>
    </table>
  </main>
  <%- include('../template/footer')-%>
</div>
</body>



